<section id="contact">
  <div class="container text-center">
    <div class="heading position-relative">
      <h3 class="text-uppercase mb-5 pb-4 fw-bolder">contact me</h3>
      <i class="fa-solid fa-star fs-3"></i>
    </div>
    <form action="" class="w-50 mx-auto">
      <div class="name">
        <input
          (focus)="namevalid($event)"
          id="nameinput"
          type="text"
          class="form-control mb-3"
          placeholder="Name"
        />
        <p class="text-danger">{{ namealert }}</p>
      </div>
      <div class="email">
        <input
          (focus)="emailvalid($event)"
          type="email"
          class="form-control mb-3"
          placeholder="Email address"
        />
        <p class="text-danger">{{ emailalert }}</p>
      </div>
      <div class="phone">
        <input
          type="tel"
          (focus)="phonevalid($event)"
          class="form-control mb-3"
          placeholder="Phone number"
        />
        <p class="text-danger">{{ phonealert }}</p>
      </div>
      <div class="area">
        <textarea
          (focus)="areavalid($event)"
          name="message"
          class="form-control mb-3"
          placeholder="Message"
        ></textarea>
        <p class="text-danger">{{ areaalert }}</p>
      </div>
      <button class="btn btn-info text-white">send</button>
    </form>
  </div>
</section>
