<section id="about">
  <div class="container text-white">
    <div class="heading text-center position-relative mb-5">
      <h3 class="fs-2 text-uppercase mb-4 pb-4 fw-bolder">about</h3>
      <i class="fa-solid fa-star fs-3"></i>
    </div>

    <div class="row justify-content-center text-start gap-2 mx-auto w-75">
      <div class="col-lg-5">
        <div class="content">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </p>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="content">
          <p>
            You can create your own custom avatar for the masthead, change the
            icon in the dividers, and add your email address to the contact form
            to make it fully functional!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
