footer {
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
}

.social-icons i {
    padding: 12px;
    border: 2px solid var(--text-color);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s all;
    text-align: center;
    cursor: pointer;
}



.social-icons i:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

.copywrite {
    background-color: #1a252f;
    color: var(--text-color);
}