<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="content">
          <h4 class="fw-bold text-uppercase mb-4">Location</h4>
          <p class="mb-0">2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="content">
          <h4 class="fw-bold text-uppercase mb-4">around the web</h4>
          <div class="social-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-google"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="content">
          <h4 class="fw-bold text-uppercase mb-4">about freelancer</h4>
          <p>
            Freelance is a free to use, MIT licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copywrite py-3 text-center">
  <span>Copyright © Your Website 2021</span>
</div>
